@inject NavigationManager nav;
<div class=" button-container">
    <a href="/" class="btn pink-btn">
        <i class="bi bi-house"></i>
    </a>

</div>

@code {
    // private void GoHome()
    // {
    //     nav.NavigateTo("/");
    // }
}
