@using KringeShopWebClient.Services

@inject UserService userService;

@if(userService.IsNoteVisible)
{
    <div>
        <p>Подтвердите действие</p>
        <button></button>
        <button></button>
    </div>
}



@code {
    // protected override void OnInitialized()
    // {
    //     userService.NoteVisibleChanged += VisibleChanged;
    // }

    // private void VisibleChanged()
    // {
    //     StateHasChanged();
    // }
}
