@page "/Basket"
@rendermode InteractiveServer

@using KringeShopWeb.Services;

@inject UserService userservice;
@using KringeShopLib.Model

<h3>Корзина товаров</h3>
@if(userservice.CurrentUser==null)
{
    <p>Для перехода в корзину товаров необходимо войти в учётную запись</p>
    <div>
        <button>Войти</button>
        <p>Ещё нет аккаунта?</p>
        <button>Зарегистрироваться</button>
    </div>
}
else
{
    
}
