@page "/SignIn"
@rendermode InteractiveServer

@using KringeShopWeb.Services;
@using KringeShopLib.Model

@inject NavigationManager nav;
@inject UserService userservice;

<h3>Авторизация</h3>

<div>
   <p>Логин</p>
   <input type="text"/>
   <p>Пароль</p>
   <input type="password"/>
   <button>Войти</button>
    <p>Ещё нет аккаунта?</p>
   <button>Зарегистрироваться</button>

</div>


@code {

}
