@page "/Account"
@rendermode InteractiveServer

@using KringeShopWebClient.Services;
@using KringeShopLib.Model

@inject NavigationManager nav;
@inject UserService userservice;

<h3>Личный кабинет</h3>

@if (userservice.CurrentUser == null)
{
    <div>
        <button @onclick="SignIn">Войти</button>
        <p>Ещё нет аккаунта?</p>
        <button @onclick="SignUp">Зарегистрироваться</button>
    </div>
}
else
{
    <div>
        <p>@userservice.CurrentUser.Username</p>
        <button>Изменить данные</button>
    </div>
}

@code {

    private void SignIn()
    {
        nav.NavigateTo("SignIn");
    }

    private void SignUp()
    {
        nav.NavigateTo("SignUp");
    }
}
