@page "/Basket"
@rendermode InteractiveServer

@using KringeShopWebClient.Services;

@inject NavigationManager nav;
@inject CustomerService customerService;

@using KringeShopLib.Model

<h3>Корзина товаров</h3>
<AuthorizeView Roles="user">
    <Authorized>
        @if(basketItems!=null)
        {
            if(basketItems.Count!=0)
            {
                <div class="basket-container">
                    @foreach (var basketItem in basketItems)
                    {
                        <div class="basket-item">
                            <p>@basketItem.ProductName</p>
                            <button @onclick="()=>IncrementItemCount(basketItem)">+</button>
                            <p>@basketItem.Count</p>
                            <button @onclick="()=>DecrementItemCount(basketItem)"> -</button>
                            <p>@basketItem.Cost</p>
                            <p>₽</p>
                            <button @onclick="()=>DeleteBasketItem(basketItem.Id)">Удалить</button>
                            <button @onclick="()=>GoToDetails(basketItem.ProductId)">...</button>
                        </div>
                    }
                    <button @onclick="CreateOrder">Оформить заказ</button>
                    </div>
            }
            else
            {
                <p>Корзина пуста</p>
            }
        }
    </Authorized>

    <NotAuthorized>
        <div class="center-container">
            <div class="auth-container">
                <p>Для перехода в корзину товаров необходимо войти в учётную запись</p>
                <button @onclick="SignIn">Войти</button>
                <p>Ещё нет аккаунта?</p>
                <button @onclick="SignUp">Зарегистрироваться</button>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
@code
{
    private List<BasketItemDTO> basketItems;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    protected override Task OnInitializedAsync() => LoadData();

    private async Task LoadData()
    {
        var authState = await authenticationState;
        if (!string.IsNullOrEmpty(authState.User.FindFirst("Token")?.Value))
            basketItems = await customerService.GetUserBasket(authState.User.FindFirst("Token")?.Value);
    }

    private void SignUp()
    {
        nav.NavigateTo("/SignUp");
    }

    private void SignIn()
    {
        nav.NavigateTo("/SignIn");
    }

    private async void DeleteBasketItem(int id)
    {
        var authState = await authenticationState;
        await customerService.RemoveBasketItem(authState.User.FindFirst("Token")?.Value,id);
        await LoadData();
        StateHasChanged();
    }

    private async Task IncrementItemCount(BasketItemDTO basketItem)
    {
        var authState = await authenticationState;
        int maxCount = await customerService.GetBasketItemMaxCount(authState.User.FindFirst("Token")?.Value,basketItem.Id);
        if(basketItem.Count<maxCount)
        {
            decimal price = basketItem.Cost / basketItem.Count;
            basketItem.Count++;
            basketItem.Cost = price * basketItem.Count;
            await UpdateBasket(basketItem);
        }

    }


    private async Task DecrementItemCount(BasketItemDTO basketItem)
    {
        if(basketItem.Count>1)
        {
            decimal price = basketItem.Cost / basketItem.Count;
            basketItem.Count--;
            basketItem.Cost = price * basketItem.Count;
            await UpdateBasket(basketItem);
        }
    }

    private async Task UpdateBasket(BasketItemDTO basketItem)
    {
        var authState = await authenticationState;
        await customerService.UpdateBasketItem(authState.User.FindFirst("Token")?.Value,basketItem);
    }

    private void GoToDetails(int product_id)
    {
        nav.NavigateTo($"Product/{product_id}");
    }

    private async void CreateOrder()
    {
        nav.NavigateTo($"CreateOrder");
    }
}