@page "/Basket"
@rendermode InteractiveServer

@using KringeShopWebClient.Services;

@inject NavigationManager nav;
@inject ConnectionService connectionService;

@using KringeShopLib.Model

<h3>Корзина товаров</h3>
<AuthorizeView>
    <Authorized>
        @foreach(var basketItem in basketItems)
        {
        <div style="display:flex; margin:5px">
            <h3></h3>
            <p>@basketItem.Count</p>
            <p>@basketItem.Cost</p>
        </div>
        }
    </Authorized>

    <NotAuthorized>
        <div class="center-container">
            <div class="auth-container">
                <p>Для перехода в корзину товаров необходимо войти в учётную запись</p>
                <button @onclick="SignIn">Войти</button>
                <p>Ещё нет аккаунта?</p>
                <button @onclick="SignUp">Зарегистрироваться</button>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
@code
{
    private List<BasketItemDTO> basketItems = new List<BasketItemDTO>();

    protected override void OnInitialized()
    {
       GetBasketItems();
    }

    private async void GetBasketItems()
    {
        // if(userservice.CurrentUser!=null)
        // {
        //     basketItems = await connectionService.GetBasketItems(userservice.CurrentUser.Id);
        // }
    }

    private void SignUp()
    {
        nav.NavigateTo("/SignUp");
    }

    private void SignIn()
    {
        nav.NavigateTo("/SignIn");
    }
}