@page "/Basket"
@rendermode InteractiveServer

@using KringeShopWebClient.Services;

@inject UserService userservice;
@inject NavigationManager nav;

@using KringeShopLib.Model

<h3>Корзина товаров</h3>
@if (userservice.CurrentUser == null)
{
    <p>Для перехода в корзину товаров необходимо войти в учётную запись</p>
    <div>
        <button @onclick="SignIn">Войти</button>
        <p>Ещё нет аккаунта?</p>
        <button @onclick="SignUp">Зарегистрироваться</button>
    </div>
}
else
{

}
@code
{
    private void SignUp()
    {
        nav.NavigateTo("/SignUp");
    }

    private void SignIn()
    {
        nav.NavigateTo("/SignIn");
    }
}