.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: calc(33% - 20px);
}

    .product-item h4 {
        margin: 0;
    }

    .product-item button {
        margin-top: 10px;
    }
